{{define "Index"}}

{{template "_head"}}

<body>
    <!-- Section: Design Block -->
    <section class="text-center">

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
            margin-top: -100px;
            background: hsla(0, 0%, 100%, 0.8);
            backdrop-filter: blur(30px);
            ">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-5">Login</h2>
                        <form method="POST" action="/login">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input name="email" type="email" id="form3Example3" class="form-control" />
                                <label class="form-label" for="form3Example3">Email address</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input name="password" type="password" id="form3Example4" class="form-control" />
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" value="Login" class="btn btn-success">Login</button>

                            <div>
                                <p class="mb-0">Don't have an account? <a href="/signup"
                                        class="text-blue-50 fw-bold">Sign
                                        Up</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->
</body>

</html>
{{end}}